@import '../variables/colours.scss';

.bluesh {
  background-color: $bluesh !important;
}

.darkrey {
  background-color: $darkrey !important;
}

.darknite {
  background-color: $darknite !important;
}

.darple {
  background-color: $darple !important;
}

.monagreen {
  background-color: $monagreen !important;
}

.monagrey {
  background-color: $monagrey !important;
}

// Text Colours

.bluesh-text {
  color: $bluesh !important
}

.darkrey-text {
  color: $darkrey !important
}

.darknite-text {
  color: $darknite !important
}

.darple-text {
  color: $darple !important
}

.monagreen-text {
  color: $monagreen !important
}

.monagrey-text {
  color: $monagrey !important
}