.line-numbers-rows {
  font-family: 'Fira Code', sans-serif;
}

span.token {
  background-color: $darknite !important;
  font-family: 'Fira Code', sans-serif !important;
}

pre {
  background-color: $darknite !important;
  font-family: 'Fira Code', sans-serif !important;
}
